/* App.css */
@keyframes move-it {
  0% {
    background-position: initial;
  }

  100% {
    background-position: 100px 0px;
  }
}

body {
  background: repeating-linear-gradient(-45deg,
      #ff5733,
      #ff5733 5%,
      #ff0000 5%,
      #ff0000 10%);
  background-size: 100px 100px;
  animation: move-it 2s linear infinite;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}